<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="./node_modules/vue-material/dist/vue-material.css">
        <link rel="stylesheet" href="./styles/app.css"></link>
    </head>
    <body>
        <div id="app">
            <div v-on:mouseup="onMouseUp()" class="body-background">
                <h1>MaBeee Voice<br /> Operator</h1>
                <!--
                <form>
                    Bing Speech Key: <input id="key" type="password" size="40" value="6b6b3f23959e443a8c28277f1234721c">
                </form>
                -->

                <md-button class="record__button md-fab md-primary" v-on:mousedown.native="onMouseDown()">
                    <md-icon class="md-size-2x md-warn">mic</md-icon>
                </md-button>

                <div class="messageBox">
                    <p>{{message}}</p>
                </div>

                <div>
                    <p>
                    <md-icon v-if="connected" md-theme="green" class="md-size-2x md-primary" style="color:green">battery_full</md-icon>
                    <md-icon v-if="!connected" md-theme="green" class="md-size-2x md-primary" style="color:grey">battery_unknown</md-icon>
                    {{statusMessage}}
                    </p>
                </div>
                <md-input-container class="keyForm" md-has-password>
                    <label>Bing Key</label>
                    <md-input id="key" type="password" value="******"></md-input>
                </md-input-container>
            </div>
        </div>
        <script src="js/speech.1.0.0.js" type="text/javascript"></script>
        <script src="./node_modules/axios/dist/axios.min.js" type="text/javascript"></script>
        <script src="./node_modules/vue/dist/vue.js" type="text/javascript"></script>
        <script src="./node_modules/vue-material/dist/vue-material.js"></script>
        <script src="./node_modules/tiny-segmenter/dist/tiny-segmenter-0.2.0.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
